/* 
    General Styles
*/

.caruosel-container{
    display: flex;
    overflow-x: scroll;
    gap: 15px;
}

.navbar-brand-image{
    width: 100px;
    margin-left: 90px ;
}

.font-color{
    color: red;
}

.img-size-card{
    width: 400px;
    height: 200px;
}